* {
  box-sizing: border-box;
}
body {
  background: #222;
  color:white
}

h2 {
  color: white;
  margin-bottom: 20px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.panel1 .statistic-label {
  font-weight: bold;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.panel1 {
  /* background:  linear-gradient(45deg,#6f4e37, white,	#6f4e37 ); */
  border: 1px grey solid;
  font-weight: bold;
  color: white;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.title-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.charts-panel{
  height: 100%;
}
.charts-container{
  border: 1px grey solid;
  padding: 10px;
  height: 100%;
}
.cups-today {
  text-align: center;
  padding: 3px 0; 
  font-size: 36px;
}

.mobile-container {
  max-width: 600px;
  text-align: center;

}
.mobile-container > div {
  display: table;
  width: 100%;
  height: 100%;
}

.mobile-container > div > div {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto; 
}
.coffee-btn {
  font-size: 36px;
  border-radius: 50%;
}